
$pageBgColor: #333;
$pageTextColor: #fff;

$appContainerWidth: 360px;

$lcdTimerBgFormat: '88:88.88';

$controlsBorderShadowColor: #000;
$controlsLCDTextColor: #81d830;
$controlsLCDBgColor: #334622;
$controlsBgColor: #242424;
$controlsButtonBgColor: #fff;
$controlsButtonFontSize: 22px;
$controlsButtonHeight: 50px;
$controlsButtonBorderColor: #ccc;
$controlsButtonPlayIconUrl: "../img/play.jpg";
$controlsButtonPauseIconUrl: "../img/pause.png";
$controlsButtonNewLapIconUrl: "../img/newlap.jpg";
$controlsButtonResetIconUrl: "../img/clear.png";
$controlsLCDTimerFontSize: 45px;
$controlsLCDDisplayVerticalPadding: 25px;

$listLCDTextColor: #fff;
$listLCDBgColor: #464646;
$listDescriptionTextColor: #fff;
$listDescriptionColumnPaddingLR: 20px;
$listRowDividerColor: #707070;
$listRemoveButtonBgColor: #f00;
$listRemoveButtonTextColor: #fff;

